# ⚠️ Arquivos secretos — NÃO envie para o GitHub
.env

# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de banco de dados
*.db
brn_*.db

# Arquivos temporários
*.log
.DS_Store
Thumbs.db